{% extends 'base.html.twig' %}
{% block body %}
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 center-block">
                    <img src="{{ asset('images/logo-icon.png') }}" class="img-responsive"/>
                </div>
                <div class="col-sm-6 col-md-4 center-block  m-t-lg">
                    <form action="{{ path('security_login_check') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData) }}
                            </div>
                        {% endif %}
                        <div class="help-lead">
                            <h3>Welcome Back!</h3>
                            <h4>Log in to continue to Little Bear application</h4>
                        </div>
                        <div class="form-group m-t-lg">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}