html{
  height: 100%;
}

body{
  height:auto;
}

/*bootstrap resets*/

.center-block{
  float: none;
}

.navigation{
}

.human{
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border: none;
  }

  table table > tr >  td{
    padding-left: 0;
  }
}