@include font-face('Ubuntu',"../fonts/ubuntu-regular",400, normal, woff woff2 , U+0020-00FF );
@include font-face('Roboto',"../fonts/ubuntu-regular",400, normal, woff woff2 , U+0020-00FF );

/*overrides*/
$font-family-sans-serif: 'Roboto',Arial, helvetica, sans-serif;
$headings-font-family : 'Ubuntu', Arial, Helvetica, sans-serif;
$headings-font-weight: 400;

/*colors*/

$brand-primary: #528fcc;
$border-color-gray: #e6e6e6;