{% extends '::base.html.twig' %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>List of All Human</h2>
                    {{ datatable_render(datatable) }}
            </div>
        </div>
    </div>



{% endblock %}